@font-face {
  font-family: "MonaSans";
  src: url(./assets/fonts/Mona-Sans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MonaSans";
  src: url(./assets/fonts/Mona-Sans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MonaSans";
  src: url(./assets/fonts/Mona-Sans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MonaSans";
  src: url(./assets/fonts/Mona-Sans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-monaSans bg-white dark:bg-black text-black dark:text-white max-w-[1440px] mx-auto;
  }
  svg{
    @apply stroke-[1.5] size-4.5;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
}